//colors
$color_scooter_approx: #1dc4e9;
$white: #fff;
$color_suva_gray_approx: #888;
$color_turquoise_approx: #1de9b6;
$black_6: rgba(0, 0, 0, .06);
$color_gray_nurse_approx: #00e4e8;
$black: #000;
$black_10: rgba(0, 0, 0, 0.1);
$black_30: rgba(0, 0, 0, 0.3);
$color_french_gray_approx: #bdbac2;
$color_wild_sand_approx: #f5f5f5;
$color_electric_violet_approx: #6610f2;
$color_studio_approx: #6f42c1;
$color_carnation_approx: #f75454;
$color_violet_red_approx: #e83e8c;
$color_ecstasy_approx: #fd7e14;
$color_sea_green_approx: #28a745;
$color_shamrock_approx: #20c997;
$color_amber_approx: #ffc107;
$color_san_marino_approx: #516eab;
$color_picton_blue_approx: #55acee;
$color_valencia_approx: #dd4b39;
$color_cardinal_approx: #ca212a;
$color_alizarin_crimson_approx: #e62117;
$color_denim_approx: #1572b8;
$color_deep_cerulean_approx: #0077b5;
$color_pickled_bluewood_approx: #36465d;
$color_gamboge_approx: #e3a103;
$color_kashmir_blue_approx: #466991;
$color_celeste_approx: #ccc;
$color_shark_approx: #212529;
$color_rock_blue_70_approx: rgba(157, 184, 209, 0.7);
$color_alabaster_approx: #fbfbfb;
$zircon: #f4f8ff;
$color_amaranth_approx: #dc3545;
$color_romance_approx: #fdfdfd;
$color_mischka_approx: #ced4da;
$color_black_squeeze_approx: #f4f7fa;
$black_20: rgba(0, 0, 0, 0.2);
$silver_chalice: #acacac;
$color_cararra_approx: #ebebeb;
$color_chicago_approx: #5c5c5c;
$color_ronchi_approx: #f0d24b;
$black_25: rgba(0, 0, 0, 0.25);
$color_mountain_mist_approx: #999;
$color_lima_approx: #7fba00;
$color_shady_lady_approx: #a9a9a9;
$color_gold_approx: #ffd300;
$color_rangoon_green_approx: #1a1a1a;
$color_rock_blue_12_approx: rgba(157, 184, 209, .12);
$color_tapa_approx: #757575;
$color_azure_radiance_approx: #007bff;
$color_dove_gray_approx: #6d6a72;
$color_pattens_blue_approx: #e0f5fe;
$color_dodger_blue_approx: #2195f3;
$color_lochmara_approx: rgba(15, 115, 194, 1);
$color_endeavour_approx: rgba(0, 101, 181, 1);
$color_bon_jour_approx: #dfdfdf;
$color_storm_dust_approx: #666;
$black_15: rgba(0, 0, 0, 0.15);
$black_4: rgba(0, 0, 0, .04);
$color_roman_approx: #e05b5d;
$black_5: rgba(0, 0, 0, .05);
$color_cape_cod_approx: #404040;